@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}



<!-- main start -->
<main class="js-animsition-overlay" data-animsition-overlay="true">
	<!-- page head start -->
	<section id="up" class="lines-section pos-rel anim-lines section-bg-dark-1">
		<!-- lines-container start -->
		<div class="lines-container pos-rel no-lines flex-min-height-100vh">
			<div class="container padding-top-bottom-120 after-preloader-anim">
				<h3 class="headline-xxxs hidden-box">
					<span class="anim-slide">@Model.Value("headerTitle")</span>
				</h3>
				<h2 class="subhead-xxl margin-top-20 anim-text-reveal tr-delay-03">
					@Model.Value("headerText")
				</h2>
			</div>
		</div><!-- lines-container end -->
	</section><!-- page head end -->
	<!-- team start -->
	<section id="down" class="lines-section pos-rel black-lines section-bg-light-1" data-midnight="black">
		<!-- lines-container start -->
		<div class="lines-container pos-rel black-lines padding-top-bottom-120">
			<!-- title start -->
			<h2 class="headline-xxl text-color-black text-center js-scrollanim">
				@Model.Value("weAreATeamTitle")
			</h2><!-- title end -->
			@Html.GetBlockListHtml(Model, "weAreTeamLists", "WeAreTeamList")


			<!-- flex-container start -->
			@*<div class="flex-container flex-align-center padding-top-60">
			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/photo-of-woman-wearing-eyeglasses-3319509.jpg" alt="Theresa Serrano">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/photo-of-woman-wearing-red-top-3319514.jpg" alt="Theresa Serrano">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Theresa Serrano</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Project manager</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/man-drinking-from-mug-2941565.jpg" alt="Denis McLeod">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/man-holding-camera-2941569.jpg" alt="Denis McLeod">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Denis McLeod</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Photographer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/man-holding-on-his-necklace-3023196.jpg" alt="Royce Allen">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/man-posing-for-a-photo-3023197.jpg" alt="Royce Allen">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Royce Allen</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Graphic designer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<div class="line-col-l-r-margin-20 js-scrollanim text-center">
			<a href="#" class="headline-xxxs js-pointer-large">
			<span class="anim-text-double-fill black" data-text="Let’s create">Let’s create</span><br>
			<span class="anim-text-double-fill black invert tr-delay-02" data-text="something">something</span>
			<span class="anim-text-double-fill black invert tr-delay-04" data-text="amazing">amazing</span><br>
			<span class="anim-text-double-fill black invert tr-delay-06" data-text="together">together</span>
			</a>
			<p class="body-text-xs text-color-black margin-top-20 anim-text-reveal tr-delay-08">Affogato thundercats quinoa, portland cold-pressed edison bulb artisan paleo banjo tousled try-hard food truck pop-up.</p>
			</div>
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/woman-wearing-green-t-shirt-3341572.jpg" alt="Maria Mayers">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/woman-wearing-green-t-shirt-3341570.jpg" alt="Maria Mayers">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Maria Mayers</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Web designer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/man-wearing-blue-denim-button-up-jacket-holding-black-camera-2911400.jpg" alt="Joseph Bryson">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/man-wearing-a-beanie-2911403.jpg" alt="Joseph Bryson">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Joseph Bryson</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Photographer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/man-wearing-yellow-and-white-striped-shirt-3266351.jpg" alt="John Walker">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/man-wearing-orange-and-white-striped-polo-shirt-3266352.jpg" alt="John Walker">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">John Walker</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Motion designer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/pexels-2730617.jpg" alt="James Charles">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/photo-of-man-with-tattoos-2738464.jpg" alt="James Charles">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">James Charles</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Back-end developer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<div class="line-col-l-r-margin-20 js-scrollanim text-center">
			<a href="#" class="headline-xxxs js-pointer-large">
			<span class="anim-text-double-fill black invert" data-text="Become a">Become a</span><br>
			<span class="anim-text-double-fill black invert tr-delay-02" data-text="part of">part of</span>
			<span class="anim-text-double-fill black tr-delay-04" data-text="our team">our team</span>
			</a>
			<p class="body-text-xs text-color-black margin-top-20 anim-text-reveal tr-delay-08">Godard slow-carb chartreuse occupy, tumblr letterpress pok pok tattooed yr lyft yuccie kinfolk. IPhone kombucha shaman gastropub snackwave.</p>
			</div>
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/woman-holding-short-coated-black-and-brown-puppy-3190736.jpg" alt="Kathleen Kirkpatrick">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/woman-in-yellow-top-carrying-short-coated-black-and-brown-3190743.jpg" alt="Kathleen Kirkpatrick">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Kathleen Kirkpatrick</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Front-end developer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/photo-of-man-wearing-brown-coat-2398712.jpg" alt="Charles Simpson">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/photo-of-man-wearing-brown-beanie-2398711.jpg" alt="Charles Simpson">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Charles Simpson</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Front-end developer</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->

			<!-- column start -->
			<div class="four-columns column-50-100 padding-top-20">
			<!-- hover-box start -->
			<div class="line-col-l-r-margin-20 hover-box hidden-box pos-rel">
			<div class="hover-box js-touch-hover-scroll">
			<!-- img start -->
			<img class="img-hover-scale in" src="../css/images/team/team_columns/afro-girl-afro-hair-girl-modelo-2576730.jpg" alt="Evelyn Leaman">
			<img class="img-hover-overlay out" src="../css/images/team/team_columns/woman-wearing-zip-up-jacket-2576729.jpg" alt="Evelyn Leaman">
			<!-- img end -->

			<!-- content start -->
			<div class="pos-abs pos-left-bottom list list_margin-1px">
			<h4 class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="subhead-xxs text-bg-red padding-right-30 hover-reveal">Evelyn Leaman</span>
			</span>
			</h4>
			<p class="list__item">
			<span class="hidden-box d-inline-block">
			<span class="headline-xxxxs text-bg-black padding-right-30 hover-reveal tr-delay-02">Copywriter</span>
			</span>
			</p>
			</div><!-- content end -->
			</div>

			<!-- social btns start -->
			<ul class="list list_right pos-abs pos-right-top">
			<li class="list__item hidden-box">
			<div class="hover-slide">
			<a href="#" class="flip-btn js-pointer-small" data-text="Facebook">Facebook</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-01">
			<a href="#" class="flip-btn js-pointer-small" data-text="Dribbble">Dribbble</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-02">
			<a href="#" class="flip-btn js-pointer-small" data-text="Instagram">Instagram</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-03">
			<a href="#" class="flip-btn js-pointer-small" data-text="Behance">Behance</a>
			</div>
			</li>
			<li class="list__item hidden-box">
			<div class="hover-slide tr-delay-04">
			<a href="#" class="flip-btn js-pointer-small" data-text="Twitter">Twitter</a>
			</div>
			</li>
			</ul><!-- social btns end -->
			</div><!-- hover-box end -->
			</div><!-- column end -->
			</div>*@
			<!-- flex-container end -->
		</div><!-- lines-container end -->
	</section><!-- team end -->
	<!-- testimonials start -->
	<section class="lines-section pos-rel section-bg-dark-2">
		<!-- lines-container start -->
		<div class="lines-container pos-rel flex-min-height-100vh">
			<!-- padding-top-bottom-120 start -->
			<div class="padding-top-bottom-120 width-100perc">
				<!-- title start -->
				<h2 class="headline-xxl text-center hidden-box js-scrollanim">
					<span class="anim-slide">@Model.Value("testimonialsTitle")</span>
				</h2><!-- title end -->
				<!-- js-3-view-slider start -->
				<div class="js-3-view-slider padding-top-bottom-90 hidden-box pos-rel slider-gradient-l-r">
					<!-- swiper-wrapper start -->
					@Html.GetBlockListHtml(Model, "aboutTestimonials", "AboutTestimonials")


					@*		<div class="swiper-wrapper js-slider-scroll-anim">
					<!-- swiper-slide start -->
					<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<div class="anim-img-scale testimonials-author border-radius-50perc">
					<img class="anim-img-scale__inner" src="../css/images/testimonials/woman-wearing-sunglasses-3387547.jpg" alt="author">
					</div><!-- anim-img-scale end -->
					<div class="margin-left-right-20">
					<p class="margin-top-60 quote quote_top body-text-s">Pok pok authentic fashion axe, vegan venmo leggings raclette tousled twee tattooed. Banh mi humblebrag hammock tacos fashion axe aesthetic vegan sustainable taiyaki thundercats jean shorts tousled cloud bread waistcoat kogi. Cloud bread cardigan messenger bag raw.</p>
					<div class="margin-top-20 text-right">
					<span class="subhead-m anim-text-double-fill tr-delay-01" data-text="Lucille Hatcher">Lucille Hatcher</span><br>
					<span class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="Investor">Investor</span>
					</div>
					</div>
					</div><!-- swiper-slide end -->

					<!-- swiper-slide start -->
					<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<div class="anim-img-scale testimonials-author border-radius-50perc">
					<img class="anim-img-scale__inner" src="../css/images/testimonials/photo-of-man-wearing-white-sweater-3674245.jpg" alt="author">
					</div><!-- anim-img-scale end -->
					<div class="margin-left-right-20">
					<p class="margin-top-60 quote quote_top body-text-s">Copper mug vexillologist +1 prism iPhone fashion axe portland. Hella quinoa woke blog af umami tacos freegan vinyl snackwave microdosing. Fanny pack direct trade XOXO drinking vinegar. Live-edge kinfolk master cleanse brooklyn meh organic man braid. Actually humblebrag sriracha.</p>
					<div class="margin-top-20 text-right">
					<span class="subhead-m anim-text-double-fill tr-delay-01" data-text="Dwight Bell">Dwight Bell</span><br>
					<span class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="Banquet manager">Banquet manager</span>
					</div>
					</div>
					</div><!-- swiper-slide end -->

					<!-- swiper-slide start -->
					<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<div class="anim-img-scale testimonials-author border-radius-50perc">
					<img class="anim-img-scale__inner" src="../css/images/testimonials/man-in-red-jacket-1681010.jpg" alt="author">
					</div><!-- anim-img-scale end -->
					<div class="margin-left-right-20">
					<p class="margin-top-60 quote quote_top body-text-s">Bushwick tumeric slow-carb photo booth letterpress franzen kombucha tumblr listicle cronut waistcoat mustache. Jean shorts tilde swag cray. Microdosing heirloom wayfarers YOLO, church-key tattooed cred blue bottle viral lyft tacos retro. Bespoke drinking vinegar single-origin.</p>
					<div class="margin-top-20 text-right">
					<span class="subhead-m anim-text-double-fill tr-delay-01" data-text="Brian Amos">Brian Amos</span><br>
					<span class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="Health educator">Health educator</span>
					</div>
					</div>
					</div><!-- swiper-slide end -->

					<!-- swiper-slide start -->
					<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<div class="anim-img-scale testimonials-author border-radius-50perc">
					<img class="anim-img-scale__inner" src="../css/images/testimonials/man-leaning-on-black-brick-wall-888956.jpg" alt="author">
					</div><!-- anim-img-scale end -->
					<div class="margin-left-right-20">
					<p class="margin-top-60 quote quote_top body-text-s">Pitchfork vaporware hella, vice next level art party subway tile swag portland. Cliche authentic photo booth, seitan sartorial iPhone brooklyn bicycle rights whatever small batch selvage affogato yuccie adaptogen vinyl. Sartorial franzen tacos cardigan, offal gluten-free pour-over.</p>
					<div class="margin-top-20 text-right">
					<span class="subhead-m anim-text-double-fill tr-delay-01" data-text="Edward Jordan">Edward Jordan</span><br>
					<span class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="Cytotechnologist">Cytotechnologist</span>
					</div>
					</div>
					</div><!-- swiper-slide end -->

					<!-- swiper-slide start -->
					<div class="swiper-slide">
					<!-- anim-img-scale start -->
					<div class="anim-img-scale testimonials-author border-radius-50perc">
					<img class="anim-img-scale__inner" src="../css/images/testimonials/stylish-cheerful-woman-in-coat-on-street-3771343.jpg" alt="author">
					</div><!-- anim-img-scale end -->
					<div class="margin-left-right-20">
					<p class="margin-top-60 quote quote_top body-text-s">Chambray enamel pin synth shabby chic palo santo. Franzen 90's man bun wayfarers, put a bird on it twee four loko roof party shabby chic kale chips photo booth salvia mixtape lumbersexual. Pug kickstarter hammock unicorn, cardigan ennui celiac roof party. Ramps pitchfork direct.</p>
					<div class="margin-top-20 text-right">
					<span class="subhead-m anim-text-double-fill tr-delay-01" data-text="Mary Ross">Mary Ross</span><br>
					<span class="headline-xxxxs margin-top-5 anim-text-double-fill invert tr-delay-03" data-text="Fashion designer">Fashion designer</span>
					</div>
					</div>
					</div><!-- swiper-slide end -->
					</div>*@
					<!-- swiper-wrapper end -->
					<!-- swiper-button-prev start -->
					<div class="swiper-button-prev-box">
						<div class="swiper-button-prev"></div>
					</div><!-- swiper-button-prev end -->
					<!-- swiper-button-next start -->
					<div class="swiper-button-next-box">
						<div class="swiper-button-next"></div>
					</div><!-- swiper-button-next end -->
					<!-- swiper-pagination start -->
					<div class="pagination-box">
						<div class="swiper-pagination counter-pagination"></div>
					</div><!-- swiper-pagination end -->
				</div><!-- js-3-view-slider end -->
			</div><!-- padding-top-bottom-120 end -->
		</div><!-- lines-container end -->
	</section><!-- testimonials end -->
	<!-- about start -->
	<section class="lines-section pos-rel section-bg-dark-1">
		<!-- lines-container start -->
		<div class="lines-container pos-rel no-lines flex-min-height-100vh">
			<!-- flex-container start -->
			<div class="container flex-container reverse padding-top-30 padding-bottom-120">
				<!-- column start -->
				<div class="six-columns column-100-100 padding-top-90">
					<div class="column-r-margin-40-999">
						<h2 class="headline-s hidden-box">
							<span class="anim-slide js-scrollanim">@Model.Value("awardsTitle")</span>
						</h2>

						<!-- awards start -->
						<div class="padding-top-60">
							<div class="js-scrollanim">
								<h4 class="headline-xxxs hidden-box">
									<span class="anim-slide">@Model.Value("webDesignAwardTitle")</span>
								</h4>
								<!-- list start -->
								<ul class="list text-color-b0b0b0 margin-top-20 anim-text-reveal tr-delay-02">
									@Model.Value("webDesignAwardList")
								</ul><!-- list end -->
							</div>
						</div><!-- awards end -->
						<!-- awards start -->
						<div class="padding-top-60">
							<div class="js-scrollanim">
								<h4 class="headline-xxxs hidden-box">
									<span class="anim-slide">@Model.Value("digitalAwardTitle")</span>
								</h4>
								<!-- list start -->
								<ul class="list text-color-b0b0b0 margin-top-20 anim-text-reveal tr-delay-02">
									@Model.Value("digitalAwardList")
								</ul><!-- list end -->
							</div>
						</div><!-- awards end -->
						<!-- awards start -->
						<div class="padding-top-60">
							<div class="js-scrollanim">
								<h4 class="headline-xxxs hidden-box">
									<span class="anim-slide">@Model.Value("DevelopmentAwardTitle")</span>
								</h4>
								<!-- list start -->
								<ul class="list list_counter text-color-b0b0b0 margin-top-20 anim-text-reveal tr-delay-02">
									@Model.Value("developmentAwardList")
								</ul><!-- list end -->
							</div>
						</div><!-- awards end -->
					</div>
				</div><!-- column end -->
				<!-- column start -->
				<div class="six-columns column-100-100">
					<!-- wo we are start -->
					<div class="padding-top-90">
						<div class="js-scrollanim">
							<h2 class="headline-s hidden-box">
								<span class="anim-slide">@Model.Value("weAreTitle")</span>
							</h2>
							<p class="body-text-s margin-top-20 anim-text-reveal tr-delay-02">
								@Model.Value("weAreText")
							</p>
						</div>
					</div><!-- wo we are end -->
					<!-- what we do start -->
					<div class="padding-top-90">
						<h2 class="headline-s hidden-box">
							<span class="anim-slide js-scrollanim">@Model.Value("weDoTitle")</span>
						</h2>
						<!-- accordion start -->
						@Html.GetBlockListHtml(Model, "aboutWhatWeDoLists", "AboutWhatWeDoList")

						@*			<div class="accordion accordion_underline js-accordion js-accordion-first-active margin-top-60">
						<!-- accordion__tab start -->
						<div class="accordion__tab js-accordion-tab">
						<div class="accordion__btn js-accordion-btn js-pointer-large">
						<h6 class="accordion__btn-title headline-xxs margin-top-bottom-20">Web Development Diploma</h6>
						</div>
						<div class="accordion__content js-accordion-content">
						<p class="body-text-xs">This course introduces web development and client-side scripting. After providing a review of HTML5 and CSS, <br><br>the course provides an explanation of web programming concepts using client-side scripting. The course covers basic web page creation, cascading style sheet, and Java script.</p>
						</div>
						</div><!-- accordion__tab end -->

						<!-- accordion__tab start -->
						<div class="accordion__tab js-accordion-tab">
						<div class="accordion__btn js-accordion-btn js-pointer-large">
						<h6 class="accordion__btn-title headline-xxs margin-top-bottom-20">Flutter Diploma</h6>
						</div>
						<div class="accordion__content js-accordion-content">
						<p class="body-text-xs">In this course, you will learn how to use the free code editor Visual Studio Code to write a Flutter application. Then you will learn how to create screens and application logic. <br><br>You will also learn how to use Firebase and Figma. Finally, you will learn how to publish iOS and Android apps to the App Store and Google Play Store.</p>
						</div>
						</div><!-- accordion__tab end -->

						<!-- accordion__tab start -->
						<div class="accordion__tab js-accordion-tab">
						<div class="accordion__btn js-accordion-btn js-pointer-large">
						<h6 class="accordion__btn-title headline-xxs margin-top-bottom-20">Ai Diploma</h6>
						</div>
						<div class="accordion__content js-accordion-content">
						<p class="body-text-xs">The course explores the basic principles, methodologies, techniques, tools, and current research topics of artificial intelligence. <br><br>Content includes AI history and perspectives, different types of intelligent agents, objective-based agents, search problems, constraint satisfaction problems, adversarial search problems, knowledge-based agents, knowledge representation, inference techniques, default logic, first-order logic, Learning agents, inductive learning, neural networks, fuzzy logic, communication and cognition, natural language processing, machine learning, computer vision and robotics.
						Apply these methods to critical areas of artificial intelligence, including the development of knowledge-based systems.
						</p>
						</div>
						</div><!-- accordion__tab end -->
						*@

					</div><!-- accordion end -->
				</div><!-- what we do end -->
				<!-- skills start -->
				<div class="padding-top-90">
					@* <div class="js-scrollanim">
						<h2 class="headline-s hidden-box">
							<span class="anim-slide">@Model.Value("ourCoreValueTitle")</span>
						</h2>
						<!-- list start -->
						<ul class="list list_margin-20px margin-top-30">

							@Model.Value("ourCoreValueList")


						</ul><!-- list end -->
					</div> *@
				</div><!-- skills end -->
			</div><!-- column end -->
		</div><!-- flex-container end -->
		</div><!-- lines-container end -->
	</section><!-- about end -->
	<!-- partners start -->
	<section class="lines-section pos-rel section-bg-dark-2">
		<!-- lines-container start -->
		<div class="lines-container pos-rel no-lines flex-min-height-100vh">
			<!-- container start -->
			<div class="padding-top-bottom-120 container">
				<!-- title start -->
				<h2 class="headline-l text-center hidden-box js-scrollanim">
					<span class="anim-slide">@Model.Value("partnerTitle")</span>
				</h2><!-- title end -->
				<!-- padding-top-30 start -->
				<div class="padding-top-30">
					@Html.GetBlockListHtml(Model, "partnerLists", "PartnerList")

					<!-- flex-container start -->
					@*	<div class="flex-container flex-justify-center">
					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/balancha.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/balancha-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/chayhana.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/chayhana-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/dongolok.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/dongolok-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->
					</div><!-- flex-container end -->

					<!-- flex-container start -->
					<div class="flex-container flex-justify-center">
					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/eptep-septep.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/eptep-septep-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/guldoyjan.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/guldoyjan-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/jorgo.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/jorgo-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/judoboy.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/judoboy-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/kizil-jindi.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/kizil-jindi-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/meyman.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/meyman-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->

					<!-- column start -->
					<div class="three-columns padding-top-60">
					<div class="text-center hover-box pos-rel">
					<img class="client-logo client-hover-out" src="../css/images/clients/olchobay.png" alt="clients logo">
					<img class="client-logo client-hover-in pos-abs pos-center-center" src="../css/images/clients/olchobay-red.png" alt="clients logo">
					</div>
					</div><!-- column end -->
					</div>*@<!-- flex-container end -->
				</div><!-- padding-top-30 end -->
			</div><!-- container end -->
		</div><!-- lines-container end -->
	</section><!-- partners end -->
</main><!-- main end -->
